.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center; 
  padding: 92px 24px 0 24px;
  width: 1052px;
  margin: 0 auto;
} 

.header_menu {
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  width: 391px;
  height: 22px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 34px;
  list-style-type: circle;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link_active .header__link {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 148px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  row-gap: 4px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-underline-offset: 4px;
  width: 240px;
  height: 98px;
}

.header__address {
  font-family: Raleway;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
